{% extends 'ZonaComixWebsiteBundle:Website:Dashboard/Dashboard.html.twig' %}

{% block title %}Escritorio (Editar comic: {{ comic.title }}) - ZonaComix{% endblock %}

{% block container %}
	<h2 class="sub-header">Editar comic: {{ comic.title }}</h2>
	<div class="form-container">
		<div class="row">
			{% form_theme form 'form/fields.html.twig' %}
			{{ form_start(form, { 'attr': {'class': 'form-horizontal'}}) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
			<a href="https://creativecommons.org/licenses/?lang=es" target="_blank">Pulsa aquí</a> para leer más sobre las licencias Creative Commons y sus diversos tipos.
		</div>
	</div>
{% endblock %}