{% extends 'ZonaComixWebsiteBundle:Website:Dashboard/Dashboard.html.twig' %}

{% block title %}Escritorio (Nuevo Capítulo: {{ comic }}) - Zona Comix{% endblock %}

{% block container %}
	<h2 class="sub-header">Nuevo Capítulo: {{ comic }}</h2>
	<div class="form-container">
		<div class="row">
			{% form_theme form 'form/fields.html.twig' %}
			{{ form_start(form, { 'attr': {'class': 'form-horizontal'}}) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}